<section id="highlights" class="wrapper style4">
  <div class="container">   
    <div class="content">
      <div class="js-hidden"><h4 class="highlight-text">{{ 'HIGHLIGHT_JSDISABLED'|t }}</h4></div>
      <div class="js-only highlights-carousel">
        {% if browser.getBrowser == 'msie' and browser.getVersion <= 8 %}
          <div><h4 class="highlight-text">{{ 'HIGHLIGHT_OUTDATED'|t }}</h4></div>
        {% endif %}
        {% set posts = taxonomy.findTaxonomy({'category':['announcements','news']},'or').order('date', 'desc').slice(0, 3) %}
        {% for post in posts %}
          {% set post_highlight = post.summary|split('</p>')|first|trim|slice(3)|trim %}
          {% if post_highlight is not empty %}
            <div><h4 class="highlight-text">{{ post_highlight }}&nbsp;<small><a target="_blank" href="{{ post.url }}">{{ 'MSG_READ_MORE'|t }}</a>&nbsp;<i class="icon fa-external-link"></i></small></h4></div>
          {% endif %}
        {% endfor %}
        {% set items = page.content|split('</p>')|randomize %}
        {% for paragraph in items %}
          {% set highlight = paragraph|trim|slice(3)|trim %}
          {% if highlight is not empty %}
            <div><h4 class="highlight-text">{{ highlight }}</h4></div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
