<ul class="dropdown">
  <li>
  {% set langobj = grav['language'] %}
  {% set key = langswitcher.current %}
  {% set language = langswitcher.languages[key] %}
  {% set lang_url = base_url_simple ~ langobj.getLanguageURLPrefix(key)~langswitcher.page_route ?: '/' %}
  <a id="language-current" hreflang="{{key}}" rel="alternate" href="{{ lang_url ~ uri.params }}" class="language-toggler"><i class="icon fa-globe"></i>&nbsp;<span>{{ native_name(key)|capitalize }}</span></a>
  <ul class="overthrow">
    {% for key in langswitcher.languages %}
        {% if key != langswitcher.current %}
            {% set lang_url = base_url_simple ~ langobj.getLanguageURLPrefix(key)~langswitcher.page_route ?: '/' %}
            <li><a hreflang="{{key}}" rel="alternate" href="{{ lang_url ~ uri.params }}"><span>{{ native_name(key)|capitalize }}</span></a></li>
        {% endif %}
    {% endfor %}
    <li><a target="_blank" href="{{ theme_config.github.tree ~ 'README.md#translations' }}"><i class="fa fa-github"></i>&nbsp;<span>{{ "MSG_HELP_TRANSLATE"|t }}</span></a></li>
  </ul>
  </li>
</ul>
