{% set collection = collection|default(page.collection) %}
<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
    <channel>
        <title>The {{ site.title }} {{ page.title }}</title>
        <link>{{ site.url }}{{ uri.path() }}</link>
        <image>
          <url>{{ site.url }}/{{ site.logo }}</url>
          <title>The {{ site.title }} {{ page.title }}</title>
          <link>{{ site.url }}{{ uri.path() }}</link>
        </image>
        <description>{{ collection.params.description }}</description>
        <language>{{ collection.params.lang }}</language>
        <atom:link href="{{ site.url }}{{ uri.path() }}.{{ uri.extension() }}" rel="self" type="application/rss+xml"/>
        {% for item in collection %}
        {% set banner = item.media.images|first %}
        <item>
            <title>{{ item.title|e }}</title>
            <link>{{ site.url }}{{ item.route() }}</link>
            <description>
                <![CDATA[
                {% if banner %}
                {{ banner.cropZoom(600,400).html|absolute_url|raw }}
                {% endif %}
                {{ item.summary|safe_truncate_html(collection.params.length)|raw }}
                {% set readMore = '[Read More](' ~ site.url ~ item.route() ~ '?target=_blank)' %}
                {{ readMore|markdown }}
                ]]>
            </description>
            <category>{{ item.taxonomy.tag|join(',') }}</category>
            <guid>{{ site.url }}{{ item.route() }}</guid>
            <pubDate>{{ item.date|date('D, d M Y H:i:s O') }}</pubDate>
        </item>
        {% endfor %}
    </channel>
</rss>
